.button1 {
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
.button1 svg {
    margin-right: 3px;
    transform: rotate(0deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
.button1 span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
.button1:hover {
    background: linear-gradient(218deg, #000000, #0d0005, #14000d, #180016, #18001e, #170022, #140026, #10002b, #10002b, #10002b, #10002b, #10002B);
  }

.button1:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
.button1:hover span {
    transform: translateX(7px);
  }